**/bin/
**/obj/
.local/
.vs/
TestResults/
**/*.user
**/appsettings.Local.json
**/*.pfx
**/*.key
**/*.pem
**/terraform.tfstate*
**/node_modules/
tests/EndToEnd/test-results/
tests/EndToEnd/playwright-report/
